<a (click)="reloadPage()"> 
    <img src="assets/act.png" style="width: 60px;height: 60px;transform: translate(5px);"/> 
  </a>
  
  
  <a routerLink="/ajouterp" routerLinkActive="active" >  
    <img src="assets/ajouterf.png" 
    style="width:60px;height: 60px;transform: translate(20px);"/> </a>
  
  <table style="transform: translate(100px);">
    <thead>
      <tr>
        <th style="text-align: center; font-size: 25px;">Listes des participants</th>
       
      </tr>
    </thead>
    <tbody>
      <tr *ngFor = "let participant of participants">
        <td data-column="First Name" >
    <b style="color:#008080;">Identifiant:</b>  {{participant.id}}
    <b style="color:#008080;"> Nom et Prénom: </b>  {{participant.nomprenom}} 
    <b style="color:#27B1A3;">  Email:</b> {{participant.email}}
    <b style="color:#27B1A3;"> Adresse </b > {{participant.adresse}}
    <b style="color:#27B1A3;"> Poste </b > {{participant.poste}} 
    
           
 <a (click)="supprimerparticipant(participant)"> <img src="assets/delete.png" 
    style="width: 55px;height: 55px;transform: translate(30px) ;"/> </a>
 <a [routerLink]="['/updatep', participant.id]" routerLinkActive="active" > <img src="assets/modif.png" style="width: 50px;height: 50px;transform: translate(40px);"/> </a>
        </td>
    
        
      </tr>
     
    
    </tbody>
  </table>
  <router-outlet></router-outlet>