<section>

  <div class="nav">
    <div class="nav-links">

     <a href="#" target="_blank">{{date | date:'yyyy-MM-dd HH:mm'}}</a>
     <a href="#" target="_blank"><img src="assets/off.png" class="bnj"></a>
   </div>

</div>



<div class="wrapper">
<div class="sidebar">
<ul>
   <li><a href="#"> <img src="assets/Admin.jpg"  > Espace Admin  </a></li>
</ul>
   <ul>
       <li><a href="#"><img src="assets/5.png" class="img1"><input type="text" placeholder=" Chercher Session"> </a></li>
   </ul>
  <ul>  
       <li><a routerLink="dash" routerLinkActive="active"><img src="assets/Dashboard.png"> Dashboard </a></li>
       <li><a routerLink="admin" routerLinkActive="active"> <img src="assets/Sessions.png">Sessions</a></li>
       <li><a routerLink="formateurs" routerLinkActive="active"><img src="assets/formateur.jpg" style="  border-radius: 50%;">Formateurs</a></li>
       <li><a routerLink="listp" routerLinkActive="active"><img src="assets/Participant.png" >participants</a></li>

   </ul> 
   
</div>
<div class="main_content" >
 
    <router-outlet></router-outlet>
  
</div>
</div>

</section>